body {
  margin: 0;
  font-family: "HiraMinProN-W6";
  background-color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  padding: 0 60px;
  color: #524748;
  opacity: 1;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.btn:hover {
  opacity: 0.7;
}

.top-wrapper img{
  width: 100%;
  margin-bottom: 60px;
}

.top-wrapper2 img{
  width: 100%;
  bottom: 0;
}

.top-wrapper2 {
  position: relative;
}

.footer p{
  position: absolute;
  left: 50px;
  top: 150px;
  color: white;
  letter-spacing: 5px;
  line-height: 25px;
  font-size: 15px;
}

.footer-list li{
  position: absolute;
  left: 70%;
  top: 150px;
  color: white;
  letter-spacing: 5px;
  line-height: 25px;
  font-size: 15px;
}

.contents {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.contents p{
  font-size: 18px;
  color: #524748;
  letter-spacing: 8px;
  line-height: 50px;
}
