body {
  margin: 0;
  font-family: "HiraMinProN-W6";
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://d.kuku.lu/rtvuzyydr);
  background-size: cover;
  color: black;
  text-align: center;
}
