body {
  margin: 0;
  font-family: "HiraMinProN-W6";
  background-color: white;
}

a {
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

.top-wrapper img{
  width: 100%;
  margin-bottom: 20px;
}

.btn-wrapper {
　　　display:block;
  margin:0 auto;
  color: #524748;
  display: flex;
}

.btn-wrapper a {
  margin: 0 40px;
  color: #524748;
  opacity: 1;
  display: flex;
}

.top-wrapper2 img{
  width: 100%;
  bottom: 0;
}

.top-wrapper2 {
  position: relative;
}

.footer p{
  position: absolute;
  left: 70px;
  top: 60%;
  color: white;
  letter-spacing: 5px;
  line-height: 45px;
  font-size: 15px;
}

.footer-list p{
  position: absolute;
  left: 88%;
  top: 65%;
  color: white;
  letter-spacing: 5px;
  line-height: 45px;
  font-size: 15px;
}

.contents {
  text-align: center;
  margin: 0 auto;
  margin: 0 90px;
}

.contents p{
  text-align: center;
  font-size: 18px;
  color: #524748;
  letter-spacing: 8px;
  line-height: 80px;
  margin: 100px 0;
}
